In [3]:
import pandas as pd
import numpy as np

import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action='ignore', category=SettingWithCopyWarning)
warnings.filterwarnings('ignore')

# work with date pandas

In [5]:
df = pd.read_excel('./data/date_tr.xlsx')

In [7]:
display(df.info())
df.sample()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   opening_date  399 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.2 KB

None

    opening_date
159   2022-06-14

In [8]:
df['opening_date'] = df['opening_date'].astype('U')
display(df.info())
df.sample()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   opening_date  399 non-null    object
dtypes: object(1)
memory usage: 3.2+ KB

None

   opening_date
38   2017-10-11

In [10]:
# %Y
# %m
# %d
# %H
# %M
# %S
# %f
df['opening_date'] = pd.to_datetime(df['opening_date'], format='%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   opening_date  399 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 3.2 KB

## What if the date is not in the standard format?

- What is your favorite dating format?
- YYYY MM DD

In [11]:
df['opening_date'] = df['opening_date'].astype('U')

df['opening_date'] = np.where(1==1,
                              df['opening_date'].str.replace('-',''),
                              1)

In [12]:
df.sample()

   opening_date
11     20180220

In [13]:
df['opening_date'] = pd.to_datetime(df['opening_date'], format='%Y%m%d')
df.sample()

    opening_date
204   2016-05-06

## How to extract information from a date

In [14]:
df['Y'] = df['opening_date'].dt.year
df['M'] = df['opening_date'].dt.month
df['D'] = df['opening_date'].dt.day

df['WOF'] = df['opening_date'].dt.weekofyear
df['DOW'] = df['opening_date'].dt.dayofweek # don't forget to count from zero

df['is_weekend'] = df['opening_date'].dt.dayofweek.isin([5,6])*1


df['year_month'] = df['opening_date'].dt.to_period('M')
# B    business day frequency
# D    calendar day frequency
# W    weekly frequency
# M    monthly frequency
# Q    quarterly frequency
# A, Y    yearly frequency
# H    hourly frequency
# T, min    minutely frequency
# S    secondly frequency
# L, ms	    milliseconds
# U, us    microseconds
# N    nanoseconds

In [15]:
df.sample(5)

    opening_date     Y   M   D  WOF  DOW  is_weekend year_month
161   2022-08-22  2022   8  22   34    0           0    2022-08
358   2021-10-07  2021  10   7   40    3           0    2021-10
381   2018-07-26  2018   7  26   30    3           0    2018-07
110   2019-10-07  2019  10   7   41    0           0    2019-10
77    2016-01-06  2016   1   6    1    2           0    2016-01

## How to add a time interval to a date?

In [16]:
# years
# months
# weeks
# days
# hours
# minutes
# seconds
# milliseconds
# microseconds
# nanoseconds

df['opening_date_plus_month'] = df['opening_date'] + pd.DateOffset(months=1)

df.sample(5)

,opening_date,Y,M,D,WOF,DOW,is_weekend,year_month,opening_date_plus_month
318,2020-05-18,2020,5,18,21,0,0,2020-05,2020-06-18
131,2021-03-22,2021,3,22,12,0,0,2021-03,2021-04-22
145,2016-05-11,2016,5,11,19,2,0,2016-05,2016-06-11
299,2023-06-14,2023,6,14,24,2,0,2023-06,2023-07-14
23,2018-06-13,2018,6,13,24,2,0,2018-06,2018-07-13

## How to find the interval in days between two dates

In [17]:
df["days_diff"] = (df["opening_date_plus_month"] - df["opening_date"]).dt.days

df.sample(5)

,opening_date,Y,M,D,WOF,DOW,is_weekend,year_month,opening_date_plus_month,days_diff
234,2020-07-03,2020,7,3,27,4,0,2020-07,2020-08-03,31
142,2010-08-10,2010,8,10,32,1,0,2010-08,2010-09-10,31
87,2016-03-29,2016,3,29,13,1,0,2016-03,2016-04-29,31
280,2012-11-15,2012,11,15,46,3,0,2012-11,2012-12-15,30
1,2017-12-11,2017,12,11,50,0,0,2017-12,2018-01-11,31

# lambda функции

## number squared

In [18]:
double = lambda x: x*2
print(double(5))

10

## lambda и map()

map() is a built-in Python function that takes a function and a sequence as an argument. It works in such a way that it applies the passed function to each element.

In [20]:
array = [1, 2, 3, 4]

array_update = list(map(lambda x: x*2, array))

array_update

[2, 4, 6, 8]

## lambda и filter()

filter() is another built-in function that filters the sequence of an iterable.

In [21]:
def even_fn(x):
    if x % 2 == 0:
        return True
    return False

print(list(filter(even_fn, [1, 3, 2, 5, 20, 21])))

[2, 20]

In [ ]:
print(list(filter(lambda x: x % 2 == 0, [1, 3, 2, 5, 20, 21])))

## Lambda with multiple arguments

In [22]:
multiplication = lambda x, y: x * y
multiplication(5, 2)

10

## Lambda and listing

In [26]:
tables = [lambda x = x: x*10 for x in range(1, 10)]

# for table in tables:
#     print(table())

In [27]:
tables

[<function __main__.<listcomp>.<lambda>(x=1)>,
 <function __main__.<listcomp>.<lambda>(x=2)>,
 <function __main__.<listcomp>.<lambda>(x=3)>,
 <function __main__.<listcomp>.<lambda>(x=4)>,
 <function __main__.<listcomp>.<lambda>(x=5)>,
 <function __main__.<listcomp>.<lambda>(x=6)>,
 <function __main__.<listcomp>.<lambda>(x=7)>,
 <function __main__.<listcomp>.<lambda>(x=8)>,
 <function __main__.<listcomp>.<lambda>(x=9)>]

## Lambda and conditional statements

In [28]:
max_number = lambda a, b: a if a > b else b

max_number(3, 5)

5

# tqm library or look at query execution time

In [31]:
from tqdm.notebook import tqdm
import datetime

import configparser
config = configparser.ConfigParser()
from sqlalchemy import create_engine

config.read('../../config.ini')

user = config.get('SYBASE_PROD', 'user')
pwd = config.get('SYBASE_PROD', 'pwd')
dns = config.get('SYBASE_PROD', 'dns')
engine = create_engine(f"sybase+pyodbc://{user}:{pwd}@{dns}")

In [34]:
contracts1 = ['elem1','elem2'....]

In [35]:
for contract in contracts1:

    query = f'''select contract_id  from dwh_table
              where d_date='2021-12-31'
                and contract_id='{contract}'
             '''

    df1 = pd.read_sql(query, engine)

## use TQM and see each iteration

In [37]:
for contract in tqdm(contracts1):

    query = f'''select contract_id  from dwh_table
              where d_date='2021-12-31'
                and contract_id='{contract}'
             '''

    df1 = pd.read_sql(query, engine)

  0%|          | 0/36 [00:00<?, ?it/s]

## Using datetime to keep track of total time

In [39]:
start_time = datetime.datetime.now()

for contract in contracts1:
    
    query = f'''select contract_id  from dwh_table
              where d_date='2021-12-31'
                and contract_id='{contract}'
             '''
    
    df1 = pd.read_sql(query, engine)
    
print("Data load finished after: " + str((datetime.datetime.now() - start_time).seconds) + " seconds")

Data load finished after: 4 seconds